### Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('include/nyc-rolling-sales.csv', index_col=0, delimiter=',')
#df.profile_report()
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [3]:
# Bytter ut celler med white space med NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

In [4]:
print("Sjekker om noen kolonner er tomme:" + "\n", df.isna().sum())

Sjekker om noen kolonner er tomme:
 BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                738
BLOCK                                 0
LOT                                   0
EASE-MENT                         84548
BUILDING CLASS AT PRESENT           738
ADDRESS                               0
APARTMENT NUMBER                  65496
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                      0
GROSS SQUARE FEET                     0
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64

In [5]:
#Fjerner rader hvor sale price er tom
df = df[df["SALE PRICE"].str.contains("-")==False]

In [6]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,NaN,C2,153 AVENUE B,NaN,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,NaN,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,NaN,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,NaN,C4,210 AVENUE B,NaN,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,NaN,D9,629 EAST 5TH STREET,NaN,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00

In [7]:
# Fjerner irrelevante kolonner fra datasett

del df["EASE-MENT"]  # Helt tom. Kan fjernes

#Vurderes:

del df["BUILDING CLASS AT PRESENT"]
del df["LOT"]
del df["SALE DATE"]
del df["TAX CLASS AT PRESENT"]
del df["ZIP CODE"]
del df["BLOCK"]
del df["COMMERCIAL UNITS"]
del df["TOTAL UNITS"]

In [ ]:
df.profile_report()

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

In [ ]:
# Gjør om data i Borough (fra siffer til navn)
#df['BOROUGH']=df['BOROUGH'].replace({1:'Manhattan',2:'Bronx',3:'Brooklyn',4:'Queens',5:'Staten Island'})

df.sample(5)

# Model 1: KNN

In [ ]:
# code

# Model 2: Decession Trees

In [ ]:
# code

# Model 3 Linear Regression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
import mglearn
import matplotlib.pyplot as plt

X, y = mglearn.datasets.load_extended_boston()

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)
lr = LinearRegression().fit(X_train, y_train)

In [ ]:
#Ordinary
print("Training set score: {:.2f}".format(lr.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

In [ ]:
#Ridge
ridge = Ridge().fit(X_train, y_train)

print("Training set score: {:.2f}".format(ridge.score(X_train, y_train)))
print("Test set score: {:.2f}".format(ridge.score(X_test, y_test)))

In [ ]:
plt.plot(ridge.coef_, "s", label="Ridge alpha=1")

plt.plot(lr.coef_, "o", label="LinearRegression")

plt.xlabel("Coefficent index")
plt.ylabel("Coefficent magnitude")
plt.hlines(0,0, len(lr.coef_))
plt.ylim(-25,25)
plt.legend()

In [ ]:
mglearn.plots.plot_ridge_n_samples()

In [ ]:
from sklearn.linear_model import Lasso

lasso = Lasso().fit(X_train, y_train)

print("Training set score: {:.2f}".format(lasso.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso.coef_!= 0)))

In [ ]:
# Increse default setting of max_iter

lasso001 = Lasso(alpha=0.01, max_iter=100000).fit(X_train, y_train)

print("Training set score: {:.2f}".format(lasso001.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso001.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso001.coef_!= 0)))

In [ ]:
plt.plot(lasso.coef_, "s", label="Lasso alpha=1")
plt.plot(lasso001.coef_, "o", label="Lasso alpha = 0.1")
plt.plot(ridge.coef_, "^", label="Ridge_alpha = 0.1")

plt.legend(ncol=2, loc=(0, 1.05))
plt.ylim(-25,25)
plt.xlabel("Coefficent index")
plt.ylabel("Coefficent magnitude")

### Ridge > Lasso 
### However, if you have a large amount of features and expect only a few of them to be important, Lasso might be the better choice

### Cross Validaton + Linear Regression

In [ ]:
from sklearn.model_selection import cross_validate, cross_val_score
from pandas_profiling import ProfileReport
from sklearn.metrics import mean_squared_error, r2_score


import seaborn as sns
%matplotlib inline

In [ ]:
df3 = df.copy()

In [ ]:
df3.head()

In [ ]:
#df3.profile_report()

In [ ]:
correlation_matrix = df3.corr().round(2)

#Larger sns fig
sns.set(rc={"figure.figsize":(11.7,8.27)})

# annot = True to point the value inside square
sns.heatmap(data=correlation_matrix, annot=True)

In [ ]:
del df3["APARTMENT NUMBER"]
features = df3.drop("SALE PRICE", axis=1).columns
target = df3["SALE PRICE"]
plt.figure(figsize=(50,50))
for index, feature_name in enumerate(features):
    # 4 rows for plots, 13/3 == 4 plots per row
    plt.subplot(4,len(features)/2, index+1)
    plt.scatter(df3[feature_name], target)
    plt.title(feature_name, fontsize=15)
    plt.xlabel(feature_name, fontsize=8) #Removed for easier view of plots
    plt.ylabel('SALE PRICE', fontsize=15)

# Model 4 : Feedforward Neural Network 1

In [ ]:
df3["LOGLSTAT"] = bos["LSTAT"].apply(np.log)
plt.figure(figsize=(20,10))

# showing plot 1
plt.subplot(1,2,1)
plt.scatter(bos["LSTAT"], bos['PRICE'], color='green')
plt.title('Original % Status of Neighborhood vs Median Price of House', fontsize= 20)
plt.xlabel('LSTAT',fontsize=20);
plt.ylabel('MEDV',fontsize=20);
plt.plot([0,40],[30,0])

# showing plot 2
plt.subplot(1,2,2)
plt.scatter(bos["LOGLSTAT"], bos['PRICE'], color='red')
plt.title('Log Transformed % Status of Neighborhood vs Median Price of House', fontsize= 20)
plt.xlabel('Transformed LSTAT',fontsize=20);
plt.ylabel('Transformed MEDV',fontsize=20);
plt.plot([0,4],[50,0])


#Apply global parameters
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)

plt.show()

In [ ]:
X = pd.DataFrame(np.c_[bos['LOGLSTAT'], bos['RM']], columns = ['LOGLSTAT','RM'])
Y = bos['PRICE']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [ ]:
# code

# Model 5 : Feedforward Neural Network 2

In [ ]:
# code