### Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('include/nyc-rolling-sales.csv', index_col=0, delimiter=',')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84548 entries, 4 to 8413
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         84548 non-null  int64
 1   NEIGHBORHOOD                    84548 non-null  object
 2   BUILDING CLASS CATEGORY         84548 non-null  object
 3   TAX CLASS AT PRESENT            84548 non-null  object
 4   BLOCK                           84548 non-null  int64
 5   LOT                             84548 non-null  int64
 6   EASE-MENT                       84548 non-null  object
 7   BUILDING CLASS AT PRESENT       84548 non-null  object
 8   ADDRESS                         84548 non-null  object
 9   APARTMENT NUMBER                84548 non-null  object
 10  ZIP CODE                        84548 non-null  int64
 11  RESIDENTIAL UNITS               84548 non-null  int64
 12  COMMERCIAL UNITS                84548 non-null  int64
 13  TOTAL UNITS                     84548 non-null  int64
 14  LAND SQUARE FEET                84548 non-null  object
 15  GROSS SQUARE FEET               84548 non-null  object
 16  YEAR BUILT                      84548 non-null  int64
 17  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 19  SALE PRICE                      84548 non-null  object
 20  SALE DATE                       84548 non-null  object
dtypes: int64(9), object(12)
memory usage: 14.2+ MB

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [3]:
# Bytter ut celler med white space med NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

In [4]:
print("Sjekker om noen kolonner er tomme:" + "\n", df.isna().sum())

Sjekker om noen kolonner er tomme:
 BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                738
BLOCK                                 0
LOT                                   0
EASE-MENT                         84548
BUILDING CLASS AT PRESENT           738
ADDRESS                               0
APARTMENT NUMBER                  65496
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                      0
GROSS SQUARE FEET                     0
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64

In [5]:
#Fjerner rader hvor sale price er tom
df = df[df["SALE PRICE"].str.contains("-")==False]

In [7]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,NaN,C2,153 AVENUE B,NaN,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,NaN,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,NaN,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,NaN,C4,210 AVENUE B,NaN,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,NaN,D9,629 EAST 5TH STREET,NaN,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00

In [ ]:
# Fjerner irrelevante kolonner fra datasett
# Vi kan ogsÃ¥ endre verdi pÃ¥ Borough (1-5) til
# Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).

del df["EASE-MENT"]  # Helt tom. Kan fjernes

#Vurderes:

#del df["BUILDING CLASS AT PRESENT"]
#del df["LOT"]
#del df["SALE DATE"]
#del df["TAX CLASS AT PRESENT"]
#del df["ZIP CODE"]
#del df["BLOCK"]
#del df["COMMERCIAL UNITS"]
#del df["TOTAL UNITS"]
df.head()

### Model 1: KNN

In [ ]:
# code

### Model 2: Linear Regression

In [ ]:
# code

### Model 3: Linear Classification

In [ ]:
# code

### Model 4: Decision Trees

In [ ]:
# code

### Model 5 : Feedforward Neural Network

In [ ]:
# code